body{
    background: rgb(8, 8, 66);
}
form input{
    width: 220px;
}

.main-btn{
    background: rgb(8, 8, 66);
    color: aliceblue;
    display: inline-block;
    transition: all .4s ease-in-out;
    padding: 15px 27px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}
.blac{
    border-radius:3%;
}
.whit img{
    height: 500px;
    position: relative;
    top: 10px;
}
@media (max-width: 992px){
    .main-btn{
        width: 200px;
        height: 60px;
        font-size: 10px;
    }
    .whit img{
        position: relative;
        top: 60px;
        right: 10px;
    }
}
@media (max-width: 768px){
    .main-btn{
        width: 160px;
        height: 60px;
        font-size: 10px;
    }
    .whit img{
        height: 250px;
        width: 250px;
        border: 5%;
        position: absolute;
        right: 70px;
    }
    h1{
        font-size: 26px;
    }
    .vert{
        position: relative;
        top: 220px;
        background: white;
    }
    .blac{
    
    }
}